In [1]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as ureq
import pandas as pd
import numpy as np

# For Mumbai

In [2]:
url=[]
for year in range(2015,2021):
    for month in range(1,13):
        if month <=9:
            links= "https://en.tutiempo.net/climate/0{}-{}/ws-430030.html".format(month,year)
            url.append(links)
        else:
            links= "https://en.tutiempo.net/climate/{}-{}/ws-430030.html".format(month,year)
            url.append(links)

In [3]:
data=[]
for i in url[:-4]:
    uclient= ureq(i)
    page_html= uclient.read()
    uclient.close()
    page_soup= soup(page_html, "lxml")
    
    
    table_body=page_soup.find("div",{"class":"mt5 minoverflow tablancpy"})
    rows = table_body.findAll('tr')
    for row in rows[1:-2]:
        cols=row.findAll('td')
        cols=[x.text.strip() for x in cols[0:10]]
        data.append(cols)

df= pd.DataFrame(data)

In [4]:
df= df.drop(4, axis=1)
df= df.replace('', np.nan)
df.columns= ['Date', 'T', 'TM', 'tm', 'H', 'PP', 'VV', 'V', 'VM']

In [6]:
df.to_csv('Mumbai_input.csv', header= True)

In [7]:
df_input= pd.read_csv("Mumbai_input.csv", index_col= 'Date')
df_input= df_input.drop("Unnamed: 0", axis=1)
df_input= df_input.dropna()
df_input.shape

(1067, 8)

In [8]:
df_target= pd.read_csv("Mumbai_target.csv", index_col= 'date')
df_target.head()

             pm25
date
01-01-2015    163
02-01-2015    165
03-01-2015    170
04-01-2015    159
05-01-2015    145

In [10]:
merge_bombay=pd.merge(df_input,df_target, how='inner', left_index=True, right_index=True)

# For Bangalore

In [13]:
url=[]
for year in range(2015,2021):
    for month in range(1,13):
        if month <=9:
            links= "https://en.tutiempo.net/climate/0{}-{}/ws-432950.html".format(month,year)
            url.append(links)
        else:
            links= "https://en.tutiempo.net/climate/{}-{}/ws-432950.html".format(month,year)
            url.append(links)

In [14]:
data=[]
for i in url[5:-4]:
    uclient= ureq(i)
    page_html= uclient.read()
    uclient.close()
    page_soup= soup(page_html, "lxml")
    
    
    table_body=page_soup.find("div",{"class":"mt5 minoverflow tablancpy"})
    rows = table_body.findAll('tr')
    for row in rows[1:-2]:
        cols=row.findAll('td')
        cols=[x.text.strip() for x in cols[0:10]]
        data.append(cols)

df_bangalore= pd.DataFrame(data)

In [15]:
df_bangalore= df_bangalore.drop(4, axis=1)
df_bangalore= df_bangalore.replace('', np.nan)
df_bangalore.columns= ['Date', 'T', 'TM', 'tm', 'H', 'PP', 'VV', 'V', 'VM']

In [16]:
df_bangalore.to_csv('Bangalore_input.csv', header= True)

In [17]:
bang_input= pd.read_csv("bangalore_input.csv", index_col= 'Date')
bang_input= bang_input.drop("Unnamed: 0", axis=1)
bang_input= bang_input.dropna()
bang_input.shape

(991, 8)

In [18]:
bang_target= pd.read_csv("Bangalore_target.csv", index_col= 'date')
bang_target.head()

            pm25
date
13-05-2015    79
14-05-2015    78
15-05-2015    92
16-05-2015   128
17-05-2015    12

In [19]:
merge_bang=pd.merge(bang_input,bang_target, how='inner', left_index=True, right_index=True)

# For Delhi

In [21]:
url=[]
for year in range(2015,2021):
    for month in range(1,13):
        if month <=9:
            links= "https://en.tutiempo.net/climate/0{}-{}/ws-421810.html".format(month,year)
            url.append(links)
        else:
            links= "https://en.tutiempo.net/climate/{}-{}/ws-421810.html".format(month,year)
            url.append(links)

In [22]:
data=[]
for i in url[:-4]:
    uclient= ureq(i)
    page_html= uclient.read()
    uclient.close()
    page_soup= soup(page_html, "lxml")
    
    
    table_body=page_soup.find("div",{"class":"mt5 minoverflow tablancpy"})
    rows = table_body.findAll('tr')
    for row in rows[1:-2]:
        cols=row.findAll('td')
        cols=[x.text.strip() for x in cols[0:10]]
        data.append(cols)

df_delhi= pd.DataFrame(data)

In [23]:
df_delhi= df_delhi.drop(4, axis=1)
df_delhi= df_delhi.replace('', np.nan)
df_delhi.columns= ['Date', 'T', 'TM', 'tm', 'H', 'PP', 'VV', 'V', 'VM']

In [24]:
df_delhi.to_csv('Delhi_input.csv', header= True)

In [25]:
del_input= pd.read_csv("Delhi_input.csv", index_col= 'Date')
del_input= del_input.drop("Unnamed: 0", axis=1)
del_input= del_input.dropna()
del_input.shape

(1075, 8)

In [26]:
del_target= pd.read_csv("Delhi_target.csv", index_col= 'date')
del_target.head()

             pm25
date
01-01-2015    272
02-01-2015    293
03-01-2015    173
04-01-2015    190
05-01-2015    191

In [27]:
merge_del=pd.merge(del_input,del_target, how='inner', left_index=True, right_index=True)

# For Kolkata

In [29]:
url=[]
for year in range(2015,2021):
    for month in range(1,13):
        if month <=9:
            links= "https://en.tutiempo.net/climate/0{}-{}/ws-428090.html".format(month,year)
            url.append(links)
        else:
            links= "https://en.tutiempo.net/climate/{}-{}/ws-428090.html".format(month,year)
            url.append(links)

In [30]:
data=[]
for i in url[:-4]:
    uclient= ureq(i)
    page_html= uclient.read()
    uclient.close()
    page_soup= soup(page_html, "lxml")
    
    
    table_body=page_soup.find("div",{"class":"mt5 minoverflow tablancpy"})
    rows = table_body.findAll('tr')
    for row in rows[1:-2]:
        cols=row.findAll('td')
        cols=[x.text.strip() for x in cols[0:10]]
        data.append(cols)

df_kolkata= pd.DataFrame(data)

In [31]:
df_kolkata= df_kolkata.drop(4, axis=1)
df_kolkata= df_kolkata.replace('', np.nan)
df_kolkata.columns= ['Date', 'T', 'TM', 'tm', 'H', 'PP', 'VV', 'V', 'VM']

In [32]:
df_kolkata.to_csv('Kolkata_input.csv', header= True)

In [33]:
kolkata_input= pd.read_csv("Kolkata_input.csv", index_col= 'Date')
kolkata_input= kolkata_input.drop("Unnamed: 0", axis=1)
kolkata_input= kolkata_input.dropna()
kolkata_input.shape

(1067, 8)

In [34]:
kolkata_target= pd.read_csv("Kolkata_target.csv", index_col= 'date')
kolkata_target.head()

             pm25
date
01-01-2015    230
02-01-2015    143
03-01-2015    119
04-01-2015    160
05-01-2015    154

In [35]:
merge_kolk=pd.merge(kolkata_input,kolkata_target, how='inner', left_index=True, right_index=True)

# Final DF

In [43]:
final_df= pd.concat([merge_bombay, merge_bang, merge_del, merge_kolk])

In [44]:
final_df.PP.replace('-', 0, inplace=True)

In [45]:
final_df.replace('-', np.nan, inplace=True)

In [48]:
final_df.dropna(inplace=True)

In [49]:
final_df.isnull().sum()

T        0
TM       0
tm       0
H        0
PP       0
VV       0
V        0
VM       0
 pm25    0
dtype: int64

In [51]:
final_df.shape

(3742, 9)

In [78]:
final_df.rename({' pm25':'PM25'},axis=1, inplace= True)

In [85]:
final_df.replace(' ', '', inplace=True)
final_df.dropna(inplace=True)

In [90]:
final_df["PM25"] = pd.to_numeric(final_df["PM25"])
final_df["PM25"]= final_df["PM25"].astype(int)

In [94]:
final_df.to_csv('AQI_Dataset.csv', header= True)

In [93]:
final_df

               T    TM    tm   H    PP   VV     V    VM  PM25
01-01-2015  23.1  27.3    17  60     0  1.9   8.9  20.6   163
02-01-2015  23.6  27.6    18  65     0  1.8   5.7  14.8   165
03-01-2015    24    29  18.4  65     0  1.8   6.7  18.3   170
07-01-2015  24.9  30.3  18.3  49     0  1.9   6.3  16.5   164
08-01-2015  25.1  31.2    16  43     0  2.1   6.3  16.5   169
...          ...   ...   ...  ..   ...  ...   ...   ...   ...
07-08-2020  30.5    34    28  92     0  3.7   6.9  16.5    51
08-08-2020  30.9    35  27.6  91     0  3.4   6.5  16.5    56
09-08-2020    30    34  27.1  90  4.06  3.4   9.6  22.2    29
14-08-2020  30.1    35    28  90     0  3.2  11.1  22.2    13
15-08-2020  29.6    33    28  93     0  3.2  12.2  24.1    10

[3695 rows x 9 columns]